<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="checkout">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
